{% trans_default_domain 'FOSUserBundle' %}
<div class="container-fluid">
    <div class="sign-form">
        <div class="row">
            <div class="col-md-4 offset-md-4 p-x-3">
                <div class="box b-a-0">
                    <div class="p-a-2 text-xs-center">
                        <h5>Join us today</h5>
                    </div>
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-material'}}) }}
                        <div class="form-group">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
                        </div>
                    <div class="form-group">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm password'}}) }}
                    </div>
                    <div class="p-x-2 form-group m-b-0">
                        <button type="submit" class="btn btn-purple btn-block text-uppercase">{{ 'registration.submit'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                    <div class="p-a-2 text-xs-center text-muted">
                        Already have an account? <a class="text-black" href="{{ path('fos_user_security_login') }}"><span class="underline">Sign in</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
